body {
    background-color: #0b021e;
    color: #ffffff;
}

h1, a, .color {
    color: #ff0099;
}

.hint-box {
    border: 5px ridge #ff0099;
    background: #ff009980;
    margin: 25px;
    padding: 25px;
}